.navbar-inverse .navbar-collapse, 
.container .navbar-wrapper .azul.navbar-inverse {

}
.hide {
    display: none;
}

.show {
    display: block;
}

nav.navbar {
    margin-bottom: 0;
    background: #0057a6;
}
.navbar a {
    color: white !important;
}

.navbar .active {
}

.navbar .active a {
    background: white !important;
    color: #0057a6 !important;
}